@model PresentationLayer.ViewModels.PositionViewModel

@{
    Layout = "_CreateUpdateLayout";
    string title = "Создание должности";
    ViewBag.Title = title;
    ViewBag.ActionName = title;
    ViewBag.AspController = "Positions";
    ViewBag.AspAction = "Create";
    ViewBag.AcceptButtonName = "Создать";
    ViewBag.AlertMessage = "Введите название должности сотрудника!";
    ViewBag.Scripts = new string[]
    {
        "/lib/js/alerts.js"
    };
}

<div class="form-group">
    <label asp-for="PositionModel.Name" class="control-label">Название</label>
    <input maxlength="50" required asp-for="PositionModel.Name" class="form-control input-form select-form" />
</div>
