@model PresentationLayer.ViewModels.PositionViewModel

@{
    Layout = "_IndexLayout";
    ViewBag.Title = "Должности";
    ViewBag.Controller = "Positions";
    ViewBag.CreateButtonName = "Создать должность";
    ViewBag.DeleteAlert = "При удалении должности удаляются связанные с этой должностью сотрудники!";
    ViewBag.Scripts = new string[] { "/lib/js/deletion.js" };
}

<tr class="bg-info">
    <td>
        <strong style="color:#fff">Название</strong>
    </td>
    <td></td>
</tr>
@foreach (var positionItem in Model.PositionCollection)
{
    <tr>
        <td>
            @positionItem.Name
        </td>
        <td style="text-align:end;">
            <a href="~/@ViewBag.Controller/Update/@positionItem.Id.Identifier" class="btn btn-info">
                Изменить
            </a>

            <span class="btn btn-danger neibor-btn" data-toggle="modal" data-target="#deletion-modal">Удалить</span>
            <a href="~/@ViewBag.Controller/Delete/@positionItem.Id.Identifier" style="display:none;"></a>
        </td>
    </tr>
}
