@model PresentationLayer.ViewModels.PositionViewModel

@{
    Layout = "_CreateUpdateLayout";
    string title = "Изменение должности";
    ViewBag.Title = title;
    ViewBag.ActionName = title + ":";
    ViewBag.ItemName = Model.PositionModel.Name;
    ViewBag.AspController = "Positions";
    ViewBag.AspAction = "Update";
    ViewBag.AcceptButtonName = "Сохранить изменения";
    ViewBag.AlertMessage = "Введите название должности сотрудника!";
    ViewBag.Scripts = new string[]
    {
        "/lib/js/alerts.js"
    };
}

<div class="form-group">
    <label asp-for="PositionModel.Name" class="control-label">Название</label>
    <input maxlength="50" required asp-for="PositionModel.Name" value="@Model.PositionModel.Name" class="form-control input-form select-form" />
    <input asp-for="PositionModel.Id.Identifier" value="@Model.PositionModel.Id.Identifier" style="display:none;" />
</div>
