@model PresentationLayer.ViewModels.PositionViewModel

@{
    ViewData["Title"] = "Изменение должности";
}

<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-1"></div>
    <div class="col-lg-6 col-md-6 col-sm-10">
        <h5><strong>Изменение должности:</strong> @Model.Position.Name</h5>
        <form method="post" asp-controller="Positions" asp-action="Update">
            <div class="form-group">
                <label asp-for="Position.Name" class="control-label">Должность</label>
                <input maxlength="50" required asp-for="Position.Name" value="@Model.Position.Name" class="form-control input-form select-form" />
                <input asp-for="Position.Id" value="@Model.Position.Id" style="display:none;" />
            </div>
            <div class="form-group">
                <input id="submit-btn" type="submit" style="display:none;" />
            </div>
        </form>

        <button id="ok-btn" class="btn btn-primary">Изменить</button>
        <a asp-controller="Positions" asp-action="Index" class="btn btn-danger">Отмена</a>
        <br />
        <br />
        <div id="warning-alert" class="alert alert-warning .alert-dismissible" role="alert" style="display: none;">
            <button id="close-warning" type="button" class="close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Введите название должности сотрудника!</strong>
        </div>

    </div>
</div>

@section Scripts{
    <script src="~/lib/js/alerts.js"></script>
}