@{
    ViewData["Title"] = "API Документация";
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="jumbotron">
            <h1>Работа с видами деятельности</h1>
            <p>
                GET api/ActivityTypes : возвращает все виды деятельности
            </p>
            <p>
                GET api/ActivityTypes/id : возвращает конкретный вид деятельности по параметру id
            </p>
            <p>
                POST api/ActivityTypes/model : запрос на создание нового вида деятельности с параметром model
            </p>
            <p>
                PUT api/ActivityTypes/model : запрос на обновление вида деятельности с параметром model
            </p>
            <p>
                DELETE api/ActivityTypes/id : запрос на удаление вида деятельности по параметру id
            </p>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="jumbotron">
            <h1>Работа с компаниями</h1>
            <p>
                GET api/Companies : возвращает все компании
            </p>
            <p>
                GET api/Companies/id : возвращает конкретную компанию по параметру id
            </p>
            <p>
                POST api/Companies/model : запрос на создание новой компании с параметром model
            </p>
            <p>
                PUT api/Companies/model : запрос на обновление компании с параметром model
            </p>
            <p>
                DELETE api/Companies/id : запрос на удаление компании по параметру id
            </p>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="jumbotron">
            <h1>Работа с должностями сотрудников</h1>
            <p>
                GET api/Positions : возвращает все должности
            </p>
            <p>
                GET api/Positions/id : возвращает конкретную должность по параметру id
            </p>
            <p>
                POST api/Positions/model : запрос на создание новой должности с параметром model
            </p>
            <p>
                PUT api/Positions/model : запрос на обновление должности с параметром model
            </p>
            <p>
                DELETE api/Positions/id : запрос на удаление должности по параметру id
            </p>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="jumbotron">
            <h1>Работа с организационно-правовыми формами</h1>
            <p>
                GET api/LegalForms : возвращает все организационно-правовые формы деятельности компаний
            </p>
            <p>
                GET api/LegalForms/id : возвращает конкретную организационно-правовую форму деятельности компании по параметру id
            </p>
            <p>
                POST api/LegalForms/model : запрос на создание новой организационно-правовой формы деятельности компаний с параметром model
            </p>
            <p>
                PUT api/LegalForms/model : запрос на обновление организационно-правовой формы деятельности компаний с параметром model
            </p>
            <p>
                DELETE api/LegalForms/id : запрос на удаление организационно-правовой формы деятельности компаний по параметру id
            </p>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="jumbotron">
            <h1>Работа с сотрудниками</h1>
            <p>
                GET api/Employees : возвращает всех сотрудников
            </p>
            <p>
                GET api/Employees/id : возвращает конкретного сотрудника по параметру id
            </p>
            <p>
                POST api/Employees/model : запрос на создание нового сотрудника с параметром model
            </p>
            <p>
                PUT api/Employees/model : запрос на обновление сотрудника с параметром model
            </p>
            <p>
                DELETE api/Employees/id : запрос на удаление сотрудника по параметру id
            </p>
        </div>
    </div>
</div>
