@model HumanResourceManager.Models.ActivityType

@{
    ViewData["Title"] = "Добавление нового вида деятельности компании";
}

<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-1"></div>
    <div class="col-lg-6 col-md-6 col-sm-10">
        <h5><strong>Создание вида деятельности компании</strong></h5>
        <form method="post" asp-controller="ActivityType" asp-action="Create">
            <div class="form-group">
                <label asp-for="Name" class="control-label">Вид деятельности</label>
                <input maxlength="50" required asp-for="Name" class="form-control input-form select-form" />
            </div>
            <div class="form-group">
                <input id="submit-btn" type="submit" style="display:none;" />
            </div>
        </form>

        <button id="ok-btn" class="btn btn-primary">Создать</button>
        <a asp-controller="ActivityType" asp-action="ActivityTypes" class="btn btn-danger">Отмена</a>
        <br />
        <br />
        <div id="warning-alert" class="alert alert-warning .alert-dismissible" role="alert" style="display: none;">
            <button id="close-warning" type="button" class="close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Заполните все поля!</strong>
        </div>

    </div>
</div>

@section Scripts{
    <script src="~/lib/js/alerts.js"></script>
}

