@model PresentationLayer.ViewModels.ActivityTypeViewModel

@{
    Layout = "_CreateUpdateLayout";
    string title = "Создание вида деятельности компании";
    ViewBag.Title = title;
    ViewBag.ActionName = title;
    ViewBag.AspController = "ActivityTypes";
    ViewBag.AspAction = "Create";
    ViewBag.AcceptButtonName = "Создать";
    ViewBag.AlertMessage = "Заполните все поля!";
    ViewBag.Scripts = new string[]
    {
        "/lib/js/alerts.js"
    };
}

<div class="form-group">
    <label asp-for="ActivityTypeModel.Name" class="control-label">Название вида деятельности</label>
    <input maxlength="50" required asp-for="ActivityTypeModel.Name" class="form-control input-form select-form" />
</div>
