@model PresentationLayer.ViewModels.ActivityTypeViewModel

@{
    Layout = "_IndexPartial";
    ViewBag.Title = "Виды деятельности";
    ViewBag.Controller = "ActivityTypes";
    ViewBag.CreateButtonName = "Создать вид деятельности";
    ViewBag.DeleteAlert = "При удалении вида деятельности удаляются связанные с этим видом деятельности компании и сотрудники, работающие в компании!";
    ViewBag.Scripts = new string[] { "/lib/js/deletion.js" };
}

<tr class="bg-info">
    <td>
        <strong style="color:#fff">Название вида деятельности</strong>
    </td>
    <td></td>
</tr>
@foreach (var item in Model.ActivityTypeCollection)
{
    <tr>
        <td>
            @item.Name
        </td>
        <td style="text-align:end;">
            <a href="~/@ViewBag.Controller/Update/@item.Id.Identifier" class="btn btn-info">
                Изменить
            </a>

            <span class="btn btn-danger neibor-btn" data-toggle="modal" data-target="#deletion-modal">Удалить</span>
            <a href="~/@ViewBag.Controller/Delete/@item.Id.Identifier" style="display:none;"></a>
        </td>
    </tr>
}
