@model List<PresentationLayer.ViewModels.ActivityTypeViewModel>

@{
    ViewData["Title"] = "Все виды деятельности";
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <a class="btn btn-primary" asp-controller="ActivityTypes" asp-action="Create">
            Создать вид деятельности компании
        </a>
    </div>
    <br />
    <br />
    <div class="col-lg-12 col-md-12 col-sm-12">
        <table class="table table-striped">
            <tr class="bg-info">
                <td>
                    <strong style="color:#fff">Название вида деятельности компании</strong>
                </td>
                <td></td>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td style="text-align:end;">
                        <a href="~/ActivityType/Update/@item.Id" class="btn btn-info">
                            Изменить
                        </a>

                        <span class="btn btn-danger neibor-btn" data-toggle="modal" data-target="#deletion-modal">Удалить</span>
                        <a href="~/ActivityType/Delete/@item.Id" style="display:none;"></a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="deletion-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content bg-warning">
            <div class="modal-header">
                <h4 class="modal-title">Удаление</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <h5><strong>При удалении вида деятельности удаляются связанные с этим видом деятельности компании и сотрудники, работающие в компании!</strong></h5>
                <br />
                <h5><small>Все данные будут безвозвратно утеряны!</small></h5>
                <br />
                <h5><strong>Вы уверены?</strong></h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Отмена</button>
                <a class='btn btn-danger' href="#">Все равно удалить</a>
            </div>
        </div><!-- /.модал-контент -->
    </div><!-- /.модальное окно -->
</div><!-- /.модальные -->

@section Scripts{
    <script src="~/lib/js/deletion.js"></script>
}