@model PresentationLayer.ViewModels.ActivityTypeViewModel

@{
    ViewData["Title"] = "Все виды деятельности";
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <form action="/ActivityTypes/" method="post">
            <input class="btn btn-primary" type="submit" value="Создать вид деятельности компании" />
        </form>
        @*<a class="btn btn-primary" asp-controller="ActivityTypes" asp-action="Create">
            Создать вид деятельности компании
        </a>*@
    </div>
    <br />
    <br />
    <div class="col-lg-12 col-md-12 col-sm-12">
        <table class="table table-striped">
            <tr class="bg-info">
                <td>
                    <strong style="color:#fff">Название вида деятельности компании</strong>
                </td>
                <td></td>
            </tr>
            @foreach (var item in Model.ActivityTypeCollection)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td style="text-align:end;">
                        @*<a href="~/ActivityTypes/Update/@item.Id" class="btn btn-info">
            Изменить
        </a>*@
                        <form action="/ActivityTypes/@item.Id.Identificator" method="get">
                            <input class="btn btn-info" type="submit"  value="Изменить" />
                        </form>
                        @*<a asp-controller="ActivityTypes" asp-action="Update" asp-route-id="@item.Id.Identificator" class="btn btn-info">
                            Изменить
                        </a>*@

                        
                          <span class="btn btn-danger neibor-btn" data-toggle="modal" data-target="#deletion-modal">Удалить</span>
                        @*<a asp-controller="ActivityTypes" asp-action="Delete" asp-route-id="@item.Id.Identificator" style="display:none;"></a>*@
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="deletion-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content bg-warning">
            <div class="modal-header">
                <h4 class="modal-title">Удаление</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <h5>
                    <strong>При удалении вида деятельности удаляются связанные с этим видом деятельности компании и сотрудники, работающие в компании!</strong>
                </h5>
                <br />
                <h5>
                    <small>Все данные будут безвозвратно утеряны!</small>
                </h5>
                <br />
                <h5>
                    <strong>Вы уверены?</strong>
                </h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Отмена</button>
                <form asp-controller="ActivityTypes" asp-action="Index" method="delete" asp-route-id="">
                    <span type="submit" class='btn btn-danger'>Все равно удалить</span>
                </form>
            </div>
        </div><!-- /.модал-контент -->
    </div><!-- /.модальное окно -->
</div><!-- /.модальные -->

@section Scripts{
    <script src="~/lib/js/deletion.js"></script>
}