@model ErrorViewModel
@{
    ViewData["Title"] = "Ошибка";
}

<h1 class="text-danger">Ошибка @((int)Model.StausCode)</h1>
<h2 class="text-danger">Ошибка связана с процессом выполнения вашего запроса!</h2>

    @*<p>
        <strong>Код ошибки:</strong> <code>@((int)Model.StausCode)</code>
    </p>*@
@if (Model.StausCode == System.Net.HttpStatusCode.NotFound)
{
    <p>
        Ресурс, запрашиваемый по данному адресу не существует!
    </p>
}
else
{
    <p>
        Ошибка выполнения запроса на сервере. Приносим свои извинения!
    </p>
}
<p>
    Сообщить об ошибке в службу поддержки пользователей - peter.kvayt@gmail.com
</p>
<p>
    <a asp-controller="Home" asp-action="Index">Вернуться на главную страницу</a>
</p>
