@model PresentationLayer.ViewModels.LegalFormViewModel

@{
    Layout = "_CreateUpdateLayout";
    ViewBag.LayoutTitle = ViewBag.Title;
    ViewBag.LayoutActionName = ViewBag.Title + ":";
    ViewBag.LayoutItemName = ViewBag.ItemName;
    ViewBag.LayoutAspController = ViewBag.AspController;
    ViewBag.LayoutAspAction = ViewBag.AspAction;
    ViewBag.LayoutAcceptButtonName = ViewBag.AcceptButtonName;
    ViewBag.LayoutAlertMessage = ViewBag.AlertMessage;
    ViewBag.LayoutScripts = ViewBag.Scripts;
}

<div class="form-group">
    <label asp-for="LegalFormModel.Name" class="control-label">Название</label>
    @RenderBody()
</div>

