@model PresentationLayer.ViewModels.LegalFormViewModel

@{
    Layout = "_CreateUpdateLayout";
    string title = "Создание организационной-правовой формы";
    ViewBag.Title = title;
    ViewBag.ActionName = title;
    ViewBag.AspController = "LegalForms";
    ViewBag.AspAction = "Create";
    ViewBag.AcceptButtonName = "Создать";
    ViewBag.AlertMessage = "Введите название организационной-правовой формы!";
    ViewBag.Scripts = new string[]
    {
        "/lib/js/alerts.js"
    };
}

<div class="form-group">
    <label asp-for="LegalFormModel.Name" class="control-label">Название</label>
    <input maxlength="50" required asp-for="LegalFormModel.Name" class="form-control input-form select-form" />
</div>
