@model PresentationLayer.ViewModels.LegalFormViewModel

@{
    Layout = "_IndexPartial";
    ViewBag.Title = "Организационно-правовые формы";
    ViewBag.Controller = "LegalForms";
    ViewBag.CreateButtonName = "Создать организационно-правовую форму";
    ViewBag.DeleteAlert = "При удалении организационно-правовой формы удаляются связанные с этой организационно-правовой формой компании и сотрудники, работающие в компании!";
    ViewBag.Scripts = new string[] { "/lib/js/deletion.js" };
}

<tr class="bg-info">
    <td>
        <strong style="color:#fff">Название</strong>
    </td>
    <td></td>
</tr>
@foreach (var legalFormItem in Model.LegalFormCollection)
{
    <tr>
        <td>
            @legalFormItem.Name
        </td>
        <td style="text-align:end;">
            <a href="~/@ViewBag.Controller/Update/@legalFormItem.Id.Identifier" class="btn btn-info">
                Изменить
            </a>

            <span class="btn btn-danger neibor-btn" data-toggle="modal" data-target="#deletion-modal">Удалить</span>
            <a href="~/@ViewBag.Controller/Delete/@legalFormItem.Id.Identifier" style="display:none;"></a>
        </td>
    </tr>
}
