.neibor-btn{
  margin-left: 5px;
}
.show-img-wrapper, .hide-img-wrapper{
  text-align: center;
}

.hide-img-wrapper{
  display: none;
}

.show-img-wrapper{
  /* opacity: 1; */
  animation: show 1s;
  
  position: relative;
}

@keyframes show{
  from {opacity: 0; top: 20px;} 
  to {opacity: 1; top: 0;}
}

.empty-img{
  max-height: 500px;
}

.table-wrapper{
  border-radius: 5px;
  overflow: hidden;
}

.create-btn{
  margin-bottom: 10px;
}