.neibor-btn{
  margin-left: 5px;
}
.show-img-wrapper, .hide-img-wrapper{
  text-align: center;
}

.hide-img-wrapper{
  display: none;
}

.show-img-wrapper{
  opacity: 0;
  animation: show 2s;
  animation-delay: 1s;
}

@keyframes show{
  from {opacity: 0;} to {opacity: 1;}
}

.empty-img{
  max-height: 500px;
}

.table-wrapper{
  border-radius: 5px;
  overflow: hidden;
}

.create-btn{
  margin-bottom: 10px;
}