  <div class="table-wrapper">
    <table class="col-lg-12 col-md-12 col-sm-12 table">
      <tr class="bg-info">
        <td>
        <strong style="color:#fff">Название вида деятельности</strong>
        </td>
        <td></td>
      </tr>
  
      <tr *ngFor='let type of types'>
        <td>
          {{type.name}}
        </td>
        <td style="text-align:end;">
          <a routerLink='/activityTypes/update/{{type.id.identifier}}' class="btn btn-info">
            Изменить
          </a>
  
          <span class="btn btn-danger neibor-btn" data-toggle="modal" data-target="#deletion-modal">Удалить</span>
          <a routerLink='/activityTypes/delete/{{type.id.identifier}}' style="display:none;"></a>
        </td>
      </tr>
    </table>
  </div>
  <div [class]="this.wrapperClass">
    <img class="empty-img" src="../../../assets/img/empty.svg" alt="empty image">
  </div>
