<nav class="navbar bg-light">
    <div class="container">
        <a class="btn btn-primary" routerLink=''><span class="fa fa-address-book"></span> Главная</a>
        <div class="btn-group">
            <a class="btn btn-info" routerLink='/api'><span class="fa fa-code"></span> API Docs</a>
            <div class="btn-group">
                <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown">
                    Разделы
                </button>
                <div class="dropdown-menu">

                    <a *ngFor='let iterLink of links' [routerLink]='iterLink.link' class='dropdown-item text-left'>
                        <span [class]="iterLink.pictClass"></span>
                        {{iterLink.text}}
                    </a>

                </div>
            </div>
        </div>
    </div>
</nav>