@model PresentationLayer.ViewModels.CompanyViewModel

@{
    Layout = "_IndexLayout";
    ViewBag.Title = "Компании";
    ViewBag.Controller = "Companies";
    ViewBag.CreateButtonName = "Создать компанию";
    ViewBag.DeleteAlert = "При удалении компании удаляются связанные с этой компанией сотрудники!";
    ViewBag.Scripts = new string[] { "/lib/js/deletion.js" };
}

<tr class="bg-info">
    <td>
        <strong style="color:#fff">Название</strong>
    </td>
    <td>
        <strong style="color:#fff">Количество сотрудников</strong>
    </td>
    <td>
        <strong style="color:#fff">Организационно-правовая форма</strong>
    </td>
    <td>
        <strong style="color:#fff">Вид деятельности</strong>
    </td>
    <td></td>
    <td></td>
</tr>
@foreach (var companyItem in Model.CompanyCollection)
{
    <tr>
        <td>
            @companyItem.Name
        </td>
        <td>
            @companyItem.Size
        </td>
        <td>
            @companyItem.LegalForm.Name
        </td>
        <td>
            @companyItem.ActivityType.Name
        </td>
        <td style="text-align:end;">
            <a href="~/@ViewBag.Controller/Update/@companyItem.Id.Identifier" class="btn btn-info">
                Изменить
            </a>
        </td>
        <td style="text-align:end;">
            <span class="btn btn-danger neibor-btn" data-toggle="modal" data-target="#deletion-modal">Удалить</span>
            <a href="~/@ViewBag.Controller/Delete/@companyItem.Id.Identifier" style="display:none;">
                Удалить
            </a>
        </td>
    </tr>
}
