.btn{
  margin-right: 1rem;
}

.alert-wrapper{
  margin-top: 1rem;
  border-radius: 5px;
  overflow: hidden;
  padding: 1rem;
  text-align: center;
  background-color: var(--danger);
  color: #fff;
  animation: show;
  animation-duration: 1s;
  position: relative;
}

@keyframes show{
  from{top: 25px; opacity: 0;}
  to{top: 0; opacity: 1;}
}
