.wrapper{
  overflow: hidden;
  height: 80vh;
}
.card{
  padding: 10rem 5rem;
  background-color: rgba(0, 0, 0, 0.85);
  height: 100%;
  text-align: center;
}
.inner-card{
  color: white;
}

.back-img{
  width: 100%;
  position: absolute;
}
.carousel-inner{
  overflow: hidden;
  border-radius: 4px;
}