@model PresentationLayer.ViewModels.EmployeeViewModel

@{
    Layout = "_CreateUpdateTemplate";
    string title = "Создание сотрудника";
    ViewBag.Title = title;
    ViewBag.ActionName = title;
    ViewBag.AspController = "Employees";
    ViewBag.AspAction = "Create";
    ViewBag.AcceptButtonName = "Создать";
    ViewBag.AlertMessage = "Заполните все поля!";
    ViewBag.Scripts = new string[]
    {
        "/lib/js/alerts.js"
    };

}

@section SurnameFormGroup{
    <input maxlength="50" required asp-for="EmployeeModel.Surname" class="form-control input-form select-form" />
}

@section NameFormGroup{
    <input maxlength="20" required asp-for="EmployeeModel.Name" class="form-control input-form select-form" />

}

@section MiddleNameFormGroup{
    <input maxlength="20" required asp-for="EmployeeModel.MiddleName" class="form-control input-form select-form" />
}

@section PositionsSection{
    <option selected="selected" disabled="disabled" value="default">Выберите должность</option>
    @foreach (var positionItem in Model.PositionCollection)
    {
        <option value="@positionItem.Id.Identifier">@positionItem.Name</option>
    }
}

@section CompaniesSection{
    <option selected="selected" disabled="disabled" value="default">Выберите место работы</option>
    @foreach (var companyItem in Model.CompanyCollection)
    {
        <option value="@companyItem.Id.Identifier">@companyItem.Name</option>
    }
}

